//Estilo para el cuerpo 
body 
    font-family: 'Arial', sans-serif
    background-color: white
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: center
    height: 100vh


  
.container 
    text-align: center
    padding: 20px
    border-radius: 10px
    background-color: #fff
    box-shadow: 0 4px 8px rgba(22, 5, 39, 0.1)
    width: 100%
    max-width: 600px


//Estilo del botón 
button 
    padding: 10px 20px
    color: white
    border: none
    border-radius: 5px
    font-size: 16px
    cursor: pointer
    transition: background-color 0.3s

    &:hover 
            background-color: purple
    


//Contenedor de las cartas 
.tarot-cards 
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 220px


// Estilo de la carta 
.card 
    width: 350px
    height: 250px
    margin: 20px
    border-radius: 10px
    background-color: white
    overflow: hidden
    box-shadow: 10px 4px 6px rgba(35, 9, 9, 0.1)
    display: flex
    justify-content: center
    align-items: center
    text-align: center

    // Estilo para la imagen de la carta 
    img 
     max-width: 40%
     border-bottom: 1px solid #ddd
    

    // Estilo para el texto debajo de la carta 
    p
     padding: 30px
     font-size: 14px
     color: #333
    


// Contenedor de las cartas en #tarotResult 
#tarotResult 
    display: flex
    justify-content: center
    align-items: flex-start
    flex-wrap: wrap
    gap: 20px
    margin-top: 20px
    width: 100%

